body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bassNeck {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: #755628;
  border: 3px solid black;
}

.note {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  min-height: 120px;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  /* border: 2px green; */
}

.fret {
  border-left: 5px solid grey;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.fret:first-of-type {
  border-left: 7px solid whitesmoke;
}

.fret:last-of-type {
  border-left: none;
}

.letter {
  border: 1px solid green;
  width: 100%;
}
